<a href="https://colab.research.google.com/github/AashishBhargav5123/PYTHON-PROJECT/blob/main/PPS_CASE_STUDY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Andrew', 'Ben', 'Brent', 'Jeremy'],
        'Age':[16, 18, 20, 22], 'Height':['155cm', '162cm', '160cm', '153cm']}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

     Name  Age Height
0  Andrew   16  155cm
1     Ben   18  162cm
2   Brent   20  160cm
3  Jeremy   22  153cm

In [ ]:
import numpy as np
import pandas as pd
"""Analysis of 7 Countries"""
df=pd.DataFrame({
    'Population' : [35.467, 149.951, 80.94, 60.665, 150.061, 35.511, 318.523],
    'GDP' : [8574536, 1974600, 263686, 1890000, 3542567, 336572, 43256753],
    'Surface Area' : [9483209, 2973190, 881913, 301340, 959700 , 147512, 8574638],
    'HDI' : [0.644, 0.745, 0.968, 0.242, 0.664, 0.776, 0.666],
    'Continent' : ['America', 'Asia', 'Asia', 'Europe', 'Asia', 'Asia', 'America']

},columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])
df.index=[
          'Canada',
          'India',
          'Pakistan',
          'Italy',
          'China',
          'Nepal',
          'United States']
print(df)
print()
print(df.loc['Canada'])
print()
print("Mean: ")
print(df.mean())
crisis=pd.Series([-1000000,-0.3], index=['GDP', 'HDI'])
print()
print(df[['GDP','HDI']]+crisis)
lang=pd.Series(
                ['English','Chinese','Italian'],
               index=['Canada','China','Italy']
)
df['Language']=lang
print()
print(df)

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   8574536       9483209  0.644   America
India             149.951   1974600       2973190  0.745      Asia
Pakistan           80.940    263686        881913  0.968      Asia
Italy              60.665   1890000        301340  0.242    Europe
China             150.061   3542567        959700  0.664      Asia
Nepal              35.511    336572        147512  0.776      Asia
United States     318.523  43256753       8574638  0.666   America

Population       35.467
GDP             8574536
Surface Area    9483209
HDI               0.644
Continent       America
Name: Canada, dtype: object

Mean:
Population      1.187311e+02
GDP             8.548388e+06
Surface Area    3.331643e+06
HDI             6.721429e-01
dtype: float64

                      GDP    HDI
Canada          7574536.0  0.344
India            974600.0  0.445
Pakistan        -736314.0  0.668
Italy            890000.0 -0.058
China           2542567.0  0.364
Nepal           -663428.0  0.476
United States  42256753.0  0.366

               Population       GDP  Surface Area    HDI Continent Language
Canada             35.467   8574536       9483209  0.644   America  English
India             149.951   1974600       2973190  0.745      Asia      NaN
Pakistan           80.940    263686        881913  0.968      Asia      NaN
Italy              60.665   1890000        301340  0.242    Europe  Italian
China             150.061   3542567        959700  0.664      Asia  Chinese
Nepal              35.511    336572        147512  0.776      Asia      NaN
United States     318.523  43256753       8574638  0.666   America      NaN

In [ ]:
import pandas as pd
import numpy as np
print("Mark of Student")
marks=[92,72,83,98,97]
sub_name=['Maths','Chemistry','Physics','History','English']
ind=pd.Series(marks,index=sub_name)
dt=pd.DataFrame(
    {
        "Subjects":pd.Series(sub_name),
        "Marks":pd.Series(marks),
        "Grade":pd.Series(['A','B','C','A','A']),
        "Qualification":'Pass',
        "Rank":np.array([1]*5),
    }
)
print(dt)

Mark of Student
   Subjects  Marks Grade Qualification  Rank
0     Maths     92     A          Pass     1
1   Science     72     B          Pass     1
2  Computer     83     C          Pass     1
3    Social     98     A          Pass     1
4   English     97     A          Pass     1

In [ ]:
marks=[92,72,83,98,97]
sub_name=['Maths','Chemistry','Physics','History','English']
ind=pd.Series(marks,index=sub_name)
dt=pd.DataFrame(
    {
        "Subjects":pd.Series(sub_name),
        "Marks":pd.Series(marks),
        "Grade":pd.Series(['A','B','B','A','A']),
        "Qualification":'Pass',
        "Rank":np.array([1]*5),
    }
)
print(marks)
mrk=np.mean(marks)
mrk1=np.median(marks)

print("Mean marks is:",mrk)
print("Median mark is:",mrk1)
x=np.percentile(marks, 80, axis=None,interpolation='midpoint')
print("Percentile function:",x)
y=np.var(marks, axis=None, dtype=None, ddof=0)
print("Variance function:",y)
z=np.std(marks, axis=None, dtype=None, ddof=0)
print("Standard deviation:",z)

[92, 72, 83, 98, 97]
Mean marks is: 88.4
Median mark is: 92.0
Percentile function: 97.5
Variance function: 95.44000000000003
Standard deviation: 9.769339793455853